<div id="header">

	<div id="header_inner" class="fluid">

		<div id="logo">
			<h1>OSM Derived Global Administrative Boundaries</h1>
		</div>
		
		<div id="menu">
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="downloads.html"  class="active">downloads</a></li>
				<li><a href="reports.html">reports</a></li>
				<li><a href="about.html">about</a></li>
				<li><a href="faq.html">faq</a></li>
				<li><a href="contact.html">contact me</a></li>
			</ul>
		</div>
		
	</div>
</div>
